[Desktop Entry]
Version=1.0
Type=Application
Name=Escape from Tarkov
GenericName=Escape from Tarkov
Comment=Tarkov
Terminal=false
Exec=tarkov-run
Categories=Game;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.tarkov.Tarkov
